<h1> <%= @user.username.capitalize %>'s Profile </h1>
<ul>
  <li>Country of origin: <%= @user.country_of_origin %></li>
  <li>Age:<%= @user.age  %></li>
  <li>Gender: <%= @user.gender  %></li>
  <li>About: <%= @user.about %></li>

</ul>
