<<<<<<< HEAD
<% if !Rails.env.test? %>
=======
<%= form_for search_path, method: :get do |f| %>
  <%= f.label "Search for City:" %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search", name: nil %>
<% end %>
>>>>>>> added error functions to search bar

<%= content_for :extra_footer do %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

    <div id="container" style="height: 600px; min-width: 415px"></div>

    <script>

    $(function () {

    var data = [
    {
      "hc-key": "dz",
      "value": <%= Country.find(75).rating %>,
      "id": 75
    },
    {
      "hc-key": "ao",
      "value": <%= Country.find(92).rating %>,
      "id": 92
    },
    {
      "hc-key": "eg",
      "value": <%= Country.find(130).rating %>,
      "id": 130
    },
    {
      "hc-key": "bd",
      "value": <%= Country.find(172).rating %>,
      "id": 172
    },
    {
      "hc-key": "ne",
      "value": <%= Country.find(73).rating %>,
      "id": 73
    },
    {
      "hc-key": "qa",
      "value": <%= Country.find(156).rating %>,
      "id": 156
    },
    {
      "hc-key": "na",
      "value": 0,
      "id": 0
    },
    {
      "hc-key": "bg",
      "value": <%= Country.find(113).rating %>,
      "id": 113
    },
    {
      "hc-key": "bo",
      "value": <%= Country.find(30).rating %>,
      "id": 30
    },
    {
      "hc-key": "gh",
      "value": <%= Country.find(71).rating %>,
      "id": 71
    },
    {
      "hc-key": "pk",
      "value": <%= Country.find(163).rating %>,
      "id": 163
    },
    {
      "hc-key": "pa",
      "value": <%= Country.find(18).rating %>,
      "id": 18
    },
    {
      "hc-key": "jo",
      "value": <%= Country.find(141).rating %>,
      "id": 141
    },
    {
      "hc-key": "eh",
      "value": <%= Country.find(58).rating %>,
      "id": 58
    },
    {
      "hc-key": "ly",
      "value": <%= Country.find(91).rating %>,
      "id": 91
    },
    {
      "hc-key": "my",
      "value": <%= Country.find(16).rating %>,
      "id": 16
    },
    {
      "hc-key": "pr",
      "value": <%= Country.find(31).rating %>,
      "id": 31
    },
    {
      "hc-key": "kp",
      "value": <%= Country.find(184).rating %>,
      "id": 184
    },
    {
      "hc-key": "tz",
      "value": <%= Country.find(135).rating %>,
      "id": 135
    },
    {
      "hc-key": "pt",
      "value": <%= Country.find(50).rating %>,
      "id": 50
    },
    {
      "hc-key": "kh",
      "value": <%= Country.find(178).rating %>,
      "id": 178
    },
    {
      "hc-key": "py",
      "value": <%= Country.find(43).rating %>,
      "id": 43
    },
    {
      "hc-key": "sa",
      "value": <%= Country.find(145).rating %>,
      "id": 145
    },
    {
      "hc-key": "me",
      "value": <%= Country.find(106).rating %>,
      "id": 106
    },
    {
      "hc-key": "si",
      "value": <%= Country.find(95).rating %>,
      "id": 95
    },
    {
      "hc-key": "bf",
      "value": <%= Country.find(70).rating %>,
      "id": 70
    },
    {
      "hc-key": "ch",
      "value": <%= Country.find(80).rating %>,
      "id": 80
    },
    {
      "hc-key": "mr",
      "value": <%= Country.find(54).rating %>,
      "id": 54
    },
    {
      "hc-key": "hr",
      "value": <%= Country.find(100).rating %>,
      "id": 100
    },
    {
      "hc-key": "cl",
      "value": <%= Country.find(8).rating %>,
      "id": 8
    },
    {
      "hc-key": "cn",
      "value": <%= Country.find(170).rating %>,
      "id": 170
    },
    {
      "hc-key": "kn",
      "value": 0,
      "id": 0 //checked
    },
    {
      "hc-key": "jm",
      "value": <%= Country.find(21).rating %>,
      "id": 21
    },
    {
      "hc-key": "dj",
      "value": <%= Country.find(202).rating %>,
      "id": 202
    },
    {
      "hc-key": "gn",
      "value": <%= Country.find(56).rating %>,
      "id": 56
    },
    {
      "hc-key": "fi",
      "value": <%= Country.find(115).rating %>,
      "id": 115
    },
    {
      "hc-key": "uy",
      "value": <%= Country.find(45).rating %>,
      "id": 45
    },
    {
      "hc-key": "va",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "np",
      "value": <%= Country.find(169).rating %>,
      "id": 169
    },
    {
      "hc-key": "ma",
      "value": <%= Country.find(61).rating %>,
      "id": 61
    },
    {
      "hc-key": "ye",
      "value": <%= Country.find(203).rating %>,
      "id": 203
    },
    {
      "hc-key": "ph",
      "value": <%= Country.find(83).rating %>,
      "id": 83
    },
    {
      "hc-key": "za",
      "value": <%= Country.find(103).rating %>,
      "id": 103
    },
    {
      "hc-key": "ni",
      "value": <%= Country.find(13).rating %>,
      "id": 13
    },
    {
      "hc-key": "cyn",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "vi",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "sy",
      "value": <%= Country.find(123).rating %>,
      "id": 123
    },
    {
      "hc-key": "li",
      "value": <%= Country.find(85).rating %>,
      "id": 85
    },
    {
      "hc-key": "mt",
      "value": <%= Country.find(94).rating %>,
      "id": 94
    },
    {
      "hc-key": "kz",
      "value": <%= Country.find(166).rating %>,
      "id": 166
    },
    {
      "hc-key": "mn",
      "value": <%= Country.find(180).rating %>,
      "id": 180
    },
    {
      "hc-key": "sr",
      "value": <%= Country.find(46).rating %>,
      "id": 46
    },
    {
      "hc-key": "ie",
      "value": <%= Country.find(63).rating %>,
      "id": 63
    },
    {
      "hc-key": "dm",
      "value": <%= Country.find(38).rating %>,
      "id": 38
    },
    {
      "hc-key": "bj",
      "value": <%= Country.find(74).rating %>,
      "id": 74
    },
    {
      "hc-key": "ng",
      "value": <%= Country.find(76).rating %>,
      "id": 76
    },
    {
      "hc-key": "be",
      "value": <%= Country.find(78).rating %>,
      "id": 78
    },
    {
      "hc-key": "tg",
      "value": <%= Country.find(72).rating %>,
      "id": 72
    },
    {
      "hc-key": "de",
      "value": <%= Country.find(81).rating %>,
      "id": 81
    },
    {
      "hc-key": "lk",
      "value": <%= Country.find(168).rating %>,
      "id": 168
    },
    {
      "hc-key": "gb",
      "value": <%= Country.find(65).rating %>,
      "id": 65
    },
    {
      "hc-key": "gy",
      "value": <%= Country.find(61).rating %>,
      "id": 0
    },
    {
      "hc-key": "cr",
      "value": <%= Country.find(14).rating %>,
      "id": 14
    },
    {
      "hc-key": "cm",
      "value": <%= Country.find(86).rating %>,
      "id": 86
    },
    {
      "hc-key": "kas",
      "value": 0,
      "id": 0
    },
    {
      "hc-key": "km",
      "value": <%= Country.find(147).rating %>,
      "id": 147
    },
    {
      "hc-key": "ug",
      "value": 0,
      "id": 0
    },
    {
      "hc-key": "tm",
      "value": <%= Country.find(159).rating %>,
      "id": 159
    },
    {
      "hc-key": "tt",
      "value": <%= Country.find(37).rating %>,
      "id": 37
    },
    {
      "hc-key": "nl",
      "value": <%= Country.find(28).rating %>,
      "id": 28
    },
    {
      "hc-key": "td",
      "value": <%= Country.find(96).rating %>,
      "id": 96
    },
    {
      "hc-key": "ge",
      "value": <%= Country.find(2).rating %>,
      "id": 146
    },
    {
      "hc-key": "ro",
      "value": <%= Country.find(122).rating %>,
      "id": 122
    },
    {
      "hc-key": "scr",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "lv",
      "value": <%= Country.find(117).rating %>,
      "id": 117
    },
    {
      "hc-key": "bz",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "mm",
      "value": <%= Country.find(174).rating %>,
      "id": 174
    },
    {
      "hc-key": "af",
      "value": <%= Country.find(162).rating %>,
      "id": 162
    },
    {
      "hc-key": "bi",
      "value": <%= Country.find(128).rating %>,
      "id": 128
    },
    {
      "hc-key": "by",
      "value": <%= Country.find(125).rating %>,
      "id": 125
    },
    {
      "hc-key": "gd",
      "value": <%= Country.find(32).rating %>,
      "id": 32
    },
    {
      "hc-key": "lr",
      "value": <%= Country.find(59).rating %>,
      "id": 59
    },
    {
      "hc-key": "gr",
      "value": <%= Country.find(114).rating %>,
      "id": 114
    },
    {
      "hc-key": "ls",
      "value": <%= Country.find(124).rating %>,
      "id": 124
    },
    {
      "hc-key": "gl",
      "value": <%= Country.find(48).rating %>,
      "id": 48
    },
    {
      "hc-key": "ad",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "mz",
      "value": <%= Country.find(134).rating %>,
      "id": 134
    },
    {
      "hc-key": "tj",
      "value": <%= Country.find(165).rating %>,
      "id": 165
    },
    {
      "hc-key": "th",
      "value": <%= Country.find(175).rating %>,
      "id": 175
    },
    {
      "hc-key": "ht",
      "value": <%= Country.find(197).rating %>,
      "id": 197
    },
    {
      "hc-key": "mx",
      "value": <%= Country.find(7).rating %>,
      "id": 7
    },
    {
      "hc-key": "zw",
      "value": <%= Country.find(126).rating %>,
      "id": 126
    },
    {
      "hc-key": "lc",
      "value": <%= Country.find(40).rating %>,
      "id": 40
    },
    {
      "hc-key": "in",
      "value": <%= Country.find(164).rating %>,
      "id": 164
    },
    {
      "hc-key": "vc",
      "value": <%= Country.find(39).rating %>,
      "id": 39
    },
    {
      "hc-key": "bt",
      "value": <%= Country.find(171).rating %>,
      "id": 171
    },
    {
      "hc-key": "vn",
      "value": <%= Country.find(179).rating %>,
      "id": 179
    },
    {
      "hc-key": "no",
      "value": <%= Country.find(79).rating %>,
      "id": 79
    },
    {
      "hc-key": "cz",
      "value": <%= Country.find(93).rating %>,
      "id": 93
    },
    {
      "hc-key": "ag",
      "value": 0,
      "id": 0 //checked
    },
    {
      "hc-key": "fj",
      "value": <%= Country.find(194).rating %>,
      "id": 194
    },
    {
      "hc-key": "hn",
      "value": <%= Country.find(12).rating %>,
      "id": 12
    },
    {
      "hc-key": "mu",
      "value": <%= Country.find(158).rating %>,
      "id": 158
    },
    {
      "hc-key": "do",
      "value": <%= Country.find(26).rating %>,
      "id": 26
    },
    {
      "hc-key": "lu",
      "value": <%= Country.find(200).rating %>,
      "id": 200
    },
    {
      "hc-key": "il",
      "value": <%= Country.find(139).rating %>,
      "id": 139
    },
    {
      "hc-key": "sm",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "pe",
      "value": <%= Country.find(20).rating %>,
      "id": 20
    },
    {
      "hc-key": "id",
      "value": <%= Country.find(173).rating %>,
      "id": 173
    },
    {
      "hc-key": "vu",
      "value": <%= Country.find(208).rating %>,
      "id": 208
    },
    {
      "hc-key": "mk",
      "value": <%= Country.find(112).rating %>,
      "id": 112
    },
    {
      "hc-key": "cd",
      "value": <%= Country.find(98).rating %>,
      "id": 98
    },
    {
      "hc-key": "cg",
      "value": <%= Country.find(97).rating %>,
      "id": 97
    },
    {
      "hc-key": "is",
      "value": <%= Country.find(51).rating %>,
      "id": 51
    },
    {
      "hc-key": "et",
      "value": <%= Country.find(143).rating %>,
      "id": 143
    },
    {
      "hc-key": "um",
      "value": 0,
      "id": 0
    },
    {
      "hc-key": "co",
      "value": <%= Country.find(22).rating %>,
      "id": 22
    },
    {
      "hc-key": "ser",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "bw",
      "value": <%= Country.find(121).rating %>,
      "id": 121
    },
    {
      "hc-key": "md",
      "value": <%= Country.find(129).rating %>,
      "id": 129
    },
    {
      "hc-key": "mg",
      "value": <%= Country.find(154).rating %>,
      "id": 154
    },
    {
      "hc-key": "ec",
      "value": <%= Country.find(17).rating %>,
      "id": 17
    },
    {
      "hc-key": "sn",
      "value": <%= Country.find(52).rating %>,
      "id": 52
    },
    {
      "hc-key": "tl",
      "value": <%= Country.find(173).rating %>,
      "id": 173 //redirect to Indonesia
    },
    {
      "hc-key": "fr",
      "value": <%= Country.find(69).rating %>,
      "id": 69
    },
    {
      "hc-key": "lt",
      "value": <%= Country.find(119).rating %>,
      "id": 119
    },
    {
      "hc-key": "rw",
      "value": <%= Country.find(131).rating %>,
      "id": 131
    },
    {
      "hc-key": "zm",
      "value": <%= Country.find(120).rating %>,
      "id": 120
    },
    {
      "hc-key": "gm",
      "value": <%= Country.find(53).rating %>,
      "id": 53
    },
    {
      "hc-key": "fo",
      "value": <%= Country.find(62).rating %>,
      "id": 62
    },
    {
      "hc-key": "gt",
      "value": <%= Country.find(9).rating %>,
      "id": 9
    },
    {
      "hc-key": "dk",
      "value": <%= Country.find(88).rating %>,
      "id": 88
    },
    {
      "hc-key": "ua",
      "value": <%= Country.find(116).rating %>,
      "id": 116
    },
    {
      "hc-key": "au",
      "value": <%= Country.find(68).rating %>,
      "id": 68
    },
    {
      "hc-key": "at",
      "value": <%= Country.find(89).rating %>,
      "id": 89
    },
    {
      "hc-key": "ve",
      "value": <%= Country.find(22).rating %>,
      "id": 22
    },
    {
      "hc-key": "pw",
      "value": <%= Country.find(187).rating %>,
      "id": 187
    },
    {
      "hc-key": "ke",
      "value": <%= Country.find(142).rating %>,
      "id": 142
    },
    {
      "hc-key": "la",
      "value": <%= Country.find(176).rating %>,
      "id": 176
    },
    {
      "hc-key": "bjn",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "tr",
      "value": <%= Country.find(127).rating %>,
      "id": 127
    },
    {
      "hc-key": "jp",
      "value": <%= Country.find(186).rating %>,
      "id": 186
    },
    {
      "hc-key": "al",
      "value": <%= Country.find(107).rating %>,
      "id": 107
    },
    {
      "hc-key": "om",
      "value": <%= Country.find(160).rating %>,
      "id": 160
    },
    {
      "hc-key": "it",
      "value": <%= Country.find(49).rating %>,
      "id": 49
    },
    {
      "hc-key": "bn",
      "value": <%= Country.find(182).rating %>,
      "id": 182
    },
    {
      "hc-key": "tn",
      "value": <%= Country.find(87).rating %>,
      "id": 87
    },
    {
      "hc-key": "hu",
      "value": <%= Country.find(105).rating %>,
      "id": 105
    },
    {
      "hc-key": "ru",
      "value": <%= Country.find(110).rating %>,
      "id": 110
    },
    {
      "hc-key": "lb",
      "value": <%= Country.find(140).rating %>,
      "id": 140
    },
    {
      "hc-key": "bb",
      "value": <%= Country.find(41).rating %>,
      "id": 41
    },
    {
      "hc-key": "br",
      "value": <%= Country.find(27).rating %>,
      "id": 27
    },
    {
      "hc-key": "ci",
      "value": <%= Country.find(67).rating %>,
      "id": 67
    },
    {
      "hc-key": "rs",
      "value": <%= Country.find(109).rating %>,
      "id": 109
    },
    {
      "hc-key": "gq",
      "value": 0,
      "id": 0
    },
    {
      "hc-key": "us",
      "value": <%= Country.find(2).rating %>,
      "id": 2
    },
    {
      "hc-key": "se",
      "value": <%= Country.find(90).rating %>,
      "id": 90
    },
    {
      "hc-key": "az",
      "value": <%= Country.find(153).rating %>,
      "id": 153
    },
    {
      "hc-key": "gw",
      "value": <%= Country.find(55).rating %>,
      "id": 55
    },
    {
      "hc-key": "sz",
      "value": <%= Country.find(132).rating %>,
      "id": 132
    },
    {
      "hc-key": "ca",
      "value": <%= Country.find(6).rating %>,
      "id": 6
    },
    {
      "hc-key": "kv",
      "value": <%= Country.find(111).rating %>,
      "id": 111
    },
    {
      "hc-key": "kr",
      "value": <%= Country.find(185).rating %>,
      "id": 185
    },
    {
      "hc-key": "mw",
      "value": <%= Country.find(137).rating %>,
      "id": 137
    },
    {
      "hc-key": "sk",
      "value": <%= Country.find(101).rating %>,
      "id": 101
    },
    {
      "hc-key": "cy",
      "value": <%= Country.find(136).rating %>,
      "id": 136
    },
    {
      "hc-key": "ba",
      "value": <%= Country.find(102).rating %>,
      "id": 102
    },
    {
      "hc-key": "pga",
      "value": 0,
      "id": 0
    },
    {
      "hc-key": "sg",
      "value": <%= Country.find(177).rating %>,
      "id": 177
    },
    {
      "hc-key": "tw",
      "value": <%= Country.find(183).rating %>,
      "id": 183
    },
    {
      "hc-key": "so",
      "value": <%= Country.find(149).rating %>,
      "id": 149
    },
    {
      "hc-key": "sol",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "uz",
      "value": <%= Country.find(161).rating %>,
      "id": 161
    },
    {
      "hc-key": "cf",
      "value": <%= Country.find(104).rating %>,
      "id": 104
    },
    {
      "hc-key": "pl",
      "value": <%= Country.find(108).rating %>,
      "id": 108
    },
    {
      "hc-key": "kw",
      "value": <%= Country.find(204).rating %>,
      "id": 204
    },
    {
      "hc-key": "er",
      "value": <%= Country.find(144).rating %>,
      "id": 144
    },
    {
      "hc-key": "ga",
      "value": <%= Country.find(84).rating %>,
      "id": 84
    },
    {
      "hc-key": "ee",
      "value": <%= Country.find(118).rating %>,
      "id": 118
    },
    {
      "hc-key": "es",
      "value": <%= Country.find(64).rating %>,
      "id": 64
    },
    {
      "hc-key": "iq",
      "value": <%= Country.find(148).rating %>,
      "id": 148
    },
    {
      "hc-key": "sv",
      "value": <%= Country.find(10).rating %>,
      "id": 10
    },
    {
      "hc-key": "ml",
      "value": <%= Country.find(60).rating %>,
      "id": 60
    },
    {
      "hc-key": "st",
      "value": 0,
      "id": 0
    },
    {
      "hc-key": "ir",
      "value": <%= Country.find(152).rating %>,
      "id": 152
    },
    {
      "hc-key": "sl",
      "value": <%= Country.find(57).rating %>,
      "id": 57
    },
    {
      "hc-key": "cnm",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "bs",
      "value": <%= Country.find(19).rating %>,
      "id": 19
    },
    {
      "hc-key": "sb",
      "value": <%= Country.find(190).rating %>,
      "id": 190
    },
    {
      "hc-key": "nz",
      "value": <%= Country.find(192).rating %>,
      "id": 192
    },
    {
      "hc-key": "mc",
      "value": 0,
      "id": 0 //probably
    },
    {
      "hc-key": "ss",
      "value": <%= Country.find(133).rating %>,
      "id": 133
    },
    {
      "hc-key": "kg",
      "value": <%= Country.find(167).rating %>,
      "id": 167
    },
    {
      "hc-key": "ae",
      "value": <%= Country.find(157).rating %>,
      "id": 157
    },
    {
      "hc-key": "ar",
      "value": <%= Country.find(29).rating %>,
      "id": 29
    },
    {
      "hc-key": "sd",
      "value": <%= Country.find(133).rating %>,
      "id": 133
    },
    {
      "hc-key": "bh",
      "value": <%= Country.find(155).rating %>,
      "id": 155
    },
    {
      "hc-key": "am",
      "value": <%= Country.find(150).rating %>,
      "id": 150
    },
    {
      "hc-key": "pg",
      "value": <%= Country.find(188).rating %>,
      "id": 188
    },
    {
      "hc-key": "cu",
      "value": <%= Country.find(15).rating %>,
      "id": 15
    }
    ];

    // Initiate the chart
    $('#container').highcharts('Map', {

      title : {
        text : 'tRipMe<br />Select a country!'
      },

      mapNavigation: {
        enabled: false,
        buttonOptions: {
          verticalAlign: 'bottom'
        }
      },

      colorAxis: {
        min: 0
      },

      plotOptions: {
        series: {
          point: {
            events: {
              click: function () {
                location.href = "/countries/" + this.id;
              }
            }
          }
        }
      },

      series: [{
        data: data,
        mapData: Highcharts.maps['custom/world'],
        joinBy: 'hc-key',
        name: 'Travel Ranking',
        states: {
          hover: {
            color: '#BADA55'
          }
        }
      }]
    });
    });

/**
 * Dark theme for Highcharts JS
 * @author Torstein Honsi
 */

// Load the fonts
Highcharts.createElement('link', {
   href: 'https://fonts.googleapis.com/css?family=Unica+One',
   rel: 'stylesheet',
   type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);

Highcharts.theme = {
   colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
      "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
   chart: {
      backgroundColor: {
         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
         stops: [
            [0, '#2a2a2b'],
            [1, '#3e3e40']
         ]
      },
      style: {
         fontFamily: "'Unica One', sans-serif"
      },
      plotBorderColor: '#606063'
   },
   title: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase',
         fontSize: '20px'
      }
   },
   subtitle: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase'
      }
   },
   xAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      title: {
         style: {
            color: '#A0A0A3'

         }
      }
   },
   yAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      tickWidth: 1,
      title: {
         style: {
            color: '#A0A0A3'
         }
      }
   },
   tooltip: {
      backgroundColor: 'rgba(0, 0, 0, 0.85)',
      style: {
         color: '#F0F0F0'
      }
   },
   plotOptions: {
      series: {
         dataLabels: {
            color: '#B0B0B3'
         },
         marker: {
            lineColor: '#333'
         }
      },
      boxplot: {
         fillColor: '#505053'
      },
      candlestick: {
         lineColor: 'white'
      },
      errorbar: {
         color: 'white'
      }
   },
   legend: {
      itemStyle: {
         color: '#E0E0E3'
      },
      itemHoverStyle: {
         color: '#FFF'
      },
      itemHiddenStyle: {
         color: '#606063'
      }
   },
   credits: {
      style: {
         color: '#666'
      }
   },
   labels: {
      style: {
         color: '#707073'
      }
   },

   drilldown: {
      activeAxisLabelStyle: {
         color: '#F0F0F3'
      },
      activeDataLabelStyle: {
         color: '#F0F0F3'
      }
   },

   navigation: {
      buttonOptions: {
         symbolStroke: '#DDDDDD',
         theme: {
            fill: '#505053'
         }
      }
   },

   // scroll charts
   rangeSelector: {
      buttonTheme: {
         fill: '#505053',
         stroke: '#000000',
         style: {
            color: '#CCC'
         },
         states: {
            hover: {
               fill: '#707073',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            },
            select: {
               fill: '#000003',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            }
         }
      },
      inputBoxBorderColor: '#505053',
      inputStyle: {
         backgroundColor: '#333',
         color: 'silver'
      },
      labelStyle: {
         color: 'silver'
      }
   },

   navigator: {
      handles: {
         backgroundColor: '#666',
         borderColor: '#AAA'
      },
      outlineColor: '#CCC',
      maskFill: 'rgba(255,255,255,0.1)',
      series: {
         color: '#7798BF',
         lineColor: '#A6C7ED'
      },
      xAxis: {
         gridLineColor: '#505053'
      }
   },

   scrollbar: {
      barBackgroundColor: '#808083',
      barBorderColor: '#808083',
      buttonArrowColor: '#CCC',
      buttonBackgroundColor: '#606063',
      buttonBorderColor: '#606063',
      rifleColor: '#FFF',
      trackBackgroundColor: '#404043',
      trackBorderColor: '#404043'
   },

   // special colors for some of the
   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
   background2: '#505053',
   dataLabelsColor: '#B0B0B3',
   textColor: '#C0C0C0',
   contrastTextColor: '#F0F0F3',
   maskColor: 'rgba(255,255,255,0.3)'
};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);

    </script>

<% end %>

<% end %>
