<h1 class="title" style="color: white; font-family: Trebuchet MS"><%=@country.name%></h1>


  <% if @cities.size > 15 && @cities.size < 30 %>
    <%= div_1_count = @cities.size/2 %>
    <%= div_2_count = @cities.size/2 %>
  <% elsif @cities.size > 30 %>
    <%= div_1_count = @cities.size/3 %>
    <%= div_2_count = @cities.size/3 %>
    <%= div_3_count = @cities.size/3 %>
  <% end %>

  <!-- <% if @cities.size > 20  && @cities.size < 39 %>
    <div class="city_2_columns">
      <% (0..(div_1_count).each do |i| %>
        <% city = @cities[i] %>
        <p class="link"><%=link_to city.name, country_city_path(@country, id: city.id) %></p>
      <% end %>
    </div>
    <div class="city_2_columns">
      <% ((div_1_count)..(div_2_count)).each do |i| %>
        <% city = @cities[i] %>
        <p class="link"><%=link_to city.name, country_city_path(@country, id: city.id) %></p>
      <% end %>
    </div>
  <% elseif @cities.size > 40 %> -->
    <div class="city_3_columns">
      <% (0..(div_1_count)).each do |i| %>
        <% city = @cities[i] %>
        <p class="link"><%=link_to city.name, country_city_path(@country, id: city.id) %></p>
      <% end %>
    </div>
    <div class="city_3_columns">
      <% ((div_1_count)..(div_2_count)).each do |i| %>
      <% city = @cities[i] %>
      <p class="link"><%=link_to city.name, country_city_path(@country, id: city.id) %></p>
      <% end %>
    </div>

    <div class="city_3_columns">
      <% ((div_2_count)..(div_3_count)).each do |i| %>
        <% city = @cities[i] %>
        <p class="link"><%=link_to city.name, country_city_path(@country, id: city.id) %></p>
      <% end %>
    <!-- </div>
    <% end %> -->
