<%@full = @city.name%>
<br />
<h1><%= @city.name %></h1>
<center><p style="color: white">City Rating: <b><%= @city.rating %></b> / 100</p>
<br />
<u><%=link_to "Write a New Travel Review", new_country_city_review_path(country_id: params[:country_id], city_id: params[:id])%></u></center>

<%= paginate @reviews %>

<% if @reviews %>

  <% @reviews.each do |review| %>

    <div class="review">
      <div id="ratings">
        <table id="ratings-table">
          <col width="100">
          <col width="150">
          <tr>
            <td>Food</td><td><% review.food_rating.times do %> <img src="/star.png" width=20 height=20> <% end %></td>
          </tr>
          <tr>
            <td>Nightlife</td><td><% review.nightlife_rating.times do %> <img src="/star.png" width=20 height=20> <% end %></td>
          </tr>
          <tr>
            <td>Landmarks</td><td><% review.landmark_rating.times do %> <img src="/star.png" width=20 height=20> <% end %></td>
          </tr>
          <tr>
            <td>Cost</td><td><% review.cost_rating.times do %> <img src="/star.png" width=20 height=20> <% end %></td>
          </tr>
          <tr>
            <td>Weather</td><td><% review.weather_rating.times do %> <img src="/star.png" width=20 height=20> <% end %></td>
          </tr>
          <tr>
            <td>Culture</td><td><% review.culture_rating.times do %> <img src="/star.png" width=20 height=20> <% end %></td>
          </tr>
          <tr>
            <td><b>Overall</b></td><td><b><%= review.overall_rating %></b> / 5</td>
          </tr>
        </table>
      </div>

      <div id="comments">
        <center><u>Comments:</u></center><hr />
      <%= simple_format(review.description) %>
      </div>

      <div id="votes-and-userinfo">
        <div>
          <center>
        <%= form_for(:vote, :url => votes_path) do |f| %>
          <%= f.hidden_field :value, value: 1 %>
          <%= f.hidden_field :review_id, value: review.id %>
          <%= f.submit "",  id: "up_vote" %>
        <% end %>
        Score: <%= review.vote_average %>
        <%= form_for(:vote, :url => votes_path) do |f| %>
          <%= f.hidden_field :value, value: -1 %>
          <%= f.hidden_field :review_id, value: review.id %>
          <%= f.submit "",  id: "down_vote" %>
        <% end %>
      </center>
        </div>
        <div><center>
          <% if review.user.avatar.path == nil %>
            <img src="<%= image_path("cat.png") %>" style="height: 80px"/>
          <% else %>
            <img src="<%= review.user.avatar %>" alt="<%= "avatar" %>" />
          <% end %><br />
          Posted by: <%= link_to "#{review.user.username}", user_path(review.user), class: "black-underline" %><br />
          <%= link_to "Edit Review", edit_country_city_review_path(country_id: params[:country_id], city_id: params[:id], id: review.id), :method => :get, class: "black-underline" %>
          |
          <%= link_to "Delete Review", country_city_review_path(country_id: params[:country_id], city_id: params[:id], id: review.id), :method => :delete, class: "black-underline" %>
        </center></div>
      </div>
    </div>

      <center>
      <div style="display: block; clear: both; font-size: 14px">
      </div>
      <div style="font-size: 14px">


      </div>
      </center>

  <% end %>

<% end %>
<br />
<center> <%= link_to "Back to " + Country.find(@city.country_id).name + " page", country_path(@country) %> </center>
