<%#if @city.name.join(' ','_')%>
<%#@full = @city.name.join(' ','_')%>
<%#else%>
<%@full = @city.name%>
<%#end%>
<%#page = JSON.parse(open("http://en.wikipedia.org/w/api.php?&action=parse&section=0&prop=text&page="+"#{@full}"))%>

<%#mw = MediaWiki::Gateway.new("http://en.wikipedia.org/w/api.php?format=jsonfm&action=parse&section=0&prop=text&page="+"#{@full}")%>
<%#mw.login('RubyBot', 'pa$$w0rd')%>
<%#mw.create('PageTitle', 'Hello world!', summary: 'My first page')%>

<br />
<h1><%= @city.name %></h1>

<center><u><%=link_to "Write a New Travel Review", new_country_city_review_path(country_id: params[:country_id], city_id: params[:id])%></u></center>

<%= paginate @reviews %>

<% if @reviews %>

  <% @reviews.each do |review| %>

    <div>
      <li>
        <%= "Food: " + "#{review.food_rating}" %>
      </li>
      <li>
        <%= "Nightlife: " + "#{review.nightlife_rating}" %>
      </li>
      <li>
        <%= "Landmark: " + "#{review.landmark_rating}" %>
      </li>
      <li>
        <%= "Cost: " + "#{review.cost_rating}" %>
      </li>
      <li>
        <%= "Weather: " + "#{review.weather_rating}" %>
      </li>
      <li>
        <%= "Culture: " + "#{review.culture_rating}" %>
      </li>
        <%= review.description %>
      </div>
      <br />
      <div>
        <%= "Posted by: " + "#{review.user_id}" %>
      </div>
        <%= button_to "Edit Review", edit_country_city_review_path(country_id: params[:country_id], city_id: params[:id], id: review.id), :method => :get %>
      <div>
        <%= button_to "Delete Review", country_city_review_path(country_id: params[:country_id], city_id: params[:id], id: review.id), :method => :delete %>
       </div>
    </br>

  <% end %>

<% end %>
<br />
<center><%=link_to "Back", country_path(id: params[:country_id])%></center>
