<div class="rating">
  <%= form_for [@country, @city, @review] do |f| %>
      <%= f.label :food_rating %>
      <% Review.stars.each do |star| %>
      <%= f.radio_button :food_rating, star[0].to_i %>
      <%= f.label :food_rating, star, value: star %>
  <% end %>
</div>
<div class="rating">
  <%= f.label :nightlife_rating %>
  <% Review.stars.each do |star| %>
  <%= f.radio_button :nightlife_rating, star[0].to_i %>
  <%= f.label :nightlife_rating, star, value: star %>
  <% end %>
</div>
<div class="rating">
  <%= f.label :landmark_rating %>
  <% Review.stars.each do |star| %>
  <%= f.radio_button :landmark_rating, star[0].to_i %>
  <%= f.label :landmark_rating, star, value: star %>
  <% end %>
</div>
<div class="rating">
  <%= f.label :cost_rating %>
  <% Review.stars.each do |star| %>
  <%= f.radio_button :cost_rating, star[0].to_i %>
  <%= f.label :cost_rating, star, value: star %>
  <% end %>
</div>
<div class="rating">
  <%= f.label :weather_rating %>
  <% Review.stars.each do |star| %>
  <%= f.radio_button :weather_rating, star[0].to_i %>
  <%= f.label :weather_rating, star, value: star %>
  <% end %>
</div>
<div class="rating">
  <%= f.label :culture_rating %>
  <% Review.stars.each do |star| %>
  <%= f.radio_button :culture_rating, star[0].to_i %>
  <%= f.label :culture_rating, star, value: star %>
  <% end %>
</div class="rating">
<br />
<div class="description">
  <%= f.label :description %>
  <%= f.text_area :description, size: "40x10" %>
</div>
<div class="rating">
  <%= f.submit  "Submit"%>
</div>
<% end %>
